body {
    width: 850px;
}

header {
    color: white;
    display: inline-block;
    width: 850px;
    vertical-align: middle; 
    font-size: 1.5em;
    background-color: #878787;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}
section {
    border: 1px solid #D6D6D6;
    width: inherit;
    height: 90px;
}

.header {
    height: 90px;
    width: 90px;
    background-color: #D7D7D7;
    font-weight: 500;
    text-align: center;
    float: left;
    line-height: 90px;
    vertical-align: middle;
    border-bottom: 1px solid #e9e9e9;
}

.detail div {
    float: left;
    padding: 1em;
}

.clearfix {
    clear: both;
    /* display: none; */
}

.header2 {
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
}