


header {
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bold;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section .header {
    font-size: 1.8em;
    /* margin: 0.2em; */
    clear: both;
}

.detail div {
    float: left;
    margin-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


p {
    display: inline;
}

.technical {
    margin-top: 1em;
    margin-bottom:  1em
}

#one, #two {
    margin-top: 1em;
    margin-bottom: 1em;
}

.header2 {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}